@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;



.p-top__concept {
 padding-block: 6.6rem 5.5rem;
 background-color: yellow;
 @include sp {
  padding-block: 4.6rem 3.4rem;
 }
}

.p-top__message {
 padding-block: 6.8rem 6rem;
 @include sp {
   padding-block: 4.9rem 4rem;
 }
}