@use '../../foundation/mixin' as *;
@use '../../foundation/variable' as *;


.p-concept {
 padding-block: 6.6rem 5.5rem;
 background-color: yellow;
 @include sp {
  padding-block: 4.6rem 3.4rem;
 }
}

.p-concept__head {
 width: 100%;
 text-align: center;
 color: $color-red;
 font-size: 3.5rem;
 line-height: calc(50 / 35);
 @include sp {
   font-size: 2.5rem;
   line-height: calc(40 / 25);
 }
}

.p-concept__text {
 width: 100%;
 text-align: center; 
 font-size: 1.8rem;
 line-height: calc(50 / 18);
 font-weight: 500;
 margin-block: 0.8rem 2.5rem;
 @include sp {
  font-size: 1.8rem;
  line-height: calc(30 / 18);
  margin-block: 0.8rem 2rem;
  margin-inline: -0.5rem;
}
}

.p-concept__img {
 width: 100%;
}

.p-concept__diagram {
 background-color: pink;
 display: flex;
 flex-direction: column;
 row-gap: 1.7rem;
 margin-block: 1.7rem 0;
 @include sp {
  margin-block: 3.4rem 0;
 }
}

.p-concept-diagram__row {
 display: flex;
 align-items: center;
 justify-content: center;
}

.p-concept-diagram-row__pri {
 background-color: aqua;
 width: 40%;
 text-align: right;
 color: $color-red;
 font-size: 2.5rem;
 line-height: calc(50 / 25);
 text-transform: capitalize;
 @include sp {
  font-size: 2rem;
  line-height: calc(50 / 20);
}
}

.p-concept-diagram-row__circle {
 background-color: $color-red;
 width: 2rem;
 height: 2rem;
 border-radius: 1rem;
 margin-inline: 3rem;
 position: relative;
}

.p-concept-diagram-row__circle::before {
 content: '';
 background-color: $color-red;
 width: 0.3rem;
 height: 7rem;
 position: absolute;
 left: 50%;
 bottom: 50%;
 transform: translateX(-50%);
 @include sp {
  left: 49%;  
 }
}

.p-concept-diagram-row__circle--top::before {
 content: '';
 background-color: $color-red;
 width: 0.3rem;
 height: 5rem;
 position: absolute;
 left: 50%;
 bottom: 50%;
 transform: translateX(-50%);
 @include sp {
  left: 49%;  
 }
}

.p-concept-diagram-row__circle--top::after {
 content: '';
 width: 2rem;
 height: 2rem;
 border: 0.3rem solid;
 border-color: transparent transparent $color-red $color-red;
 position: absolute;
 top: -4rem;
 transform: rotate(135deg); 
 @include sp {
  left: -7%;  
 }
}

.p-concept-diagram-row__sec {
 background-color: aqua;
 width: 40%;
 font-size: 2.3rem;
 line-height: calc(50 / 23);
 font-weight: 500;
 @include sp {
  font-size: 2rem;
  line-height: calc(50 / 20);
}
}



