@use '../foundation/mixin' as *;
@use '../foundation/variable' as *;


.l-header {
 background-color: yellow;
 width: 100%;
 height: 8rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 z-index: 100; 
}

.l-header__logo {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
